.home-page {
  .text-zone {
    position: absolute; //need to fix view on phone
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    width: 60%;
    max-height: 90%;
  }
  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;
    &::before {
      
      font-family: "La Belle Aurore";
      color: aquamarine;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.6s;
    }
    &::after {
      
      font-family: "La Belle Aurore";
      color: aquamarine;
      font-size: 18px;
      position: absolute;
      margin-top: 2px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6s;
    }
  }
}
h2 {
  color: #ffffff;
  margin-top: 20px;
  font-weight: 400;
  font-size: 11px;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}
.flat-button {
  color: #ffd700;
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 19px;
  border: 1px solid #ffd700;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;
  &:hover {
    background-color: #ffd700;
    color: #333;
  }
}
.logo-container {
  padding: 10px 19px;

  width:400px;
  height: 100px;
  display: block;
  position:absolute;
  top: 70%;
  right:auto;
  bottom: 0;
  left: 20%;
  margin:auto;
  .solid-logo{
    
      
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      margin-left: -60px;
      width: 100%;
      animation: fadeIn 1s 2.3s backwards;
     
      
  }



}
